*{font-family: 'Lato', sans-serif;}

*{justify-content: center; 
        align-items: center; 
        text-align: center; 
        width: 100%; 
        line-height: 1.2;} 
 #fotota {border-radius: 100%; 
         margin-top: 200px; 
         height: 400px; 
         width: 400px;}  
 #superior { background: #fff;
           position: fixed;
           display: flex;
           font-size: 18px;  
           height: 90px;
           border-bottom: solid #af599e;} 
.contactos { display: flex;           
         } 
.logo {margin-right: 20px;
       width: 50px; 
       height: 50px;
     margin-bottom: 50px; }

h1 {font-size: 36px; } 

#parrafo1 {margin-bottom: 30px;
           padding: 20px;}

 #pulsar {background-color:#af599e;
         color:#fbfbfb;
         margin-top: 30px;
         border-radius: 50px;
         font-size: 20px; 
         margin-top: 20px; 
         margin-bottom: 200px;
         padding: 10px; }

 h2 {font-size: 28px;
     border-radius: 50px;}

 section{background-color:rgba(175, 89, 158, 0.3);
         border-radius: 15px;
         margin-bottom: 30%;
         margin-top: 30%; 
         padding: 20px;} 
         
  footer { height: 90px; 
         background-color: #af599e;
         color: #fbfbfb;
         padding-top: 35px;}          

* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;}

ul { list-style: none;}


a { text-decoration: none;
    color: inherit;}

main {max-width: 1200px;
    margin: auto;}


